body {
    background-color: rgb(0, 48, 66);
}
/* .containerMenu {
    position: absolute;
    text-align: center;
} */
.menuHome {
    position: absolute;
    top: 2px;
    left: 16px;
}
.menuBoard {
    position: absolute;
    top: 2px;
    left: 120px;
}
